@use '../common.scss';
.downloadCV{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10%;
}
.btnDownload{
    background-color:common.$main-color1;  
    padding: 2% 2%; 
    border-radius: 3px;
    cursor: pointer;
    font-size: common.$fontSizeNormalTextLarge;
    >p{
       color: common.$textColor;
       margin: 0;
       cursor: pointer;
       font-weight: 600;
    }
    transition: 0.4s;
}
.btnDownload:hover{
    background-color: common.$textColor;
    >p{
        color: common.$main-color1; 
    }
    transition: 0.4s;
}
@media only screen and (max-width: 768px) {
    .btnDownload{
        font-size: common.$fontSizeNormalTextMedium;
    }
}
@media only screen and (max-width: 480px) {
   .downloadCV{
     justify-content: center;
   }
}