@use '../common.scss';
.titleSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
.titleSectionContainer{
    >p{
        color: common.$textColor;
        font-size: common.$fontSizeTitleSectionLarge;
        text-transform: uppercase;
        margin-top: 2%;
        margin-bottom:10%;
        font-weight: 600;
        >span{
            color: common.$main-color1;
        }
        caret-color: transparent;
    }
}
.underline{
    width:65%;
    background-color:common.$main-color1;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .titleSectionContainer{
        >p{
            font-size: common.$fontSizeTitleSectionMedium;
        }
    }
}
@media only screen and (max-width:560px) {
    .titleSectionContainer{
        >p{
            font-size: common.$fontSizeTitleSectionMedium;
        }
    }
    .underline{
        height: 2px;
    }
}