@use '../common.scss';
.contactContent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social{
    >p{
        color: white;
    }
}
.iconSocial{
    font-size: 40px;
    margin-right: 1.3%;
    cursor: pointer;
}
.social{
    width: 100%;
}
.listSocial, .phone{
    display: flex;
    justify-content: center;
}
#iconFB{
  color: #2374E1;
}
#iconInsta{
  color:  #ea4c89;
}
#iconGit{
    color: #333;
}
#iconTwiter{
    color: #1da1f2;
}
#iconGG{
    color: #dd4b39;
}
.myPhoneNumber{
   color: #FE4B58;;
}
.phone{
    >p{
        color: white;
        font-size: 20px;
    }
}