@use '../common.scss';
$borderRadiusPortfolio: 20px;
$borderRadiusPortfolioSmall: 8px;
.portfolioContainer{
    width: 100%;
}
.portfolioContainer{
    >p{ 
      font-size: common.$fontSizeTitleChildLarge;
      color: common.$textColor;
    }
}
.portfolioContent{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
#imgBackgroupPortfolio{
    width: 100%;
    border-radius: $borderRadiusPortfolio;
    height: 100%;
    object-fit: scale-down;
}
.itemContainer{
    width: 94%;
    border-radius: $borderRadiusPortfolio;
    position: relative;
    height: 16rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.item{
    width: 30%;
    margin-bottom: 20px;
}
.backgroundPortfolio{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
}
.infoPortfolio{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: common.$textColor;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    border-radius: $borderRadiusPortfolio;
    display: flex;
    justify-content: center;
    align-items: center;
   
    background: linear-gradient(to right, black 50%, common.$textColor 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    >p{
        color: common.$main-color;
        font-size: common.$fontSizeNormalTextLarge;
    }
}
.infoPortfolio:hover{
    // background: rgb(31,34,53);
    // background: linear-gradient(90deg, rgba(31,34,53,1) 0%, rgba(31,34,53,1) 39%, rgba(123,118,215,1) 91%);
    // transition: 0.2s;
    // background-color:#6bc3ef;
    // background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,.7) 100%);
    // background-repeat:no-repeat;
    // background-size: 200% 100%; 
    // transition:background-size 1s, background-color 1s;
    background-position: left bottom;
}
// @-webkit-keyframes run {
//     0% {
//       left: 0;
//     }
//     50% {
//       left: 100%;
//     }
//     100% {
//       left: 0;    
//     }
//   }
.infoPortfolio:hover{
    >p{
        color: common.$textColor !important;
    }
}
@media only screen and (max-width: 1300px) {
    .itemContainer{
        height: 13rem;
    }
}
@media only screen and (max-width: 991px) {
    .itemContainer{
        height: 11rem;
    }
}
@media only screen and (max-width: 768px) {
    .itemContainer{
        height: 8rem;
    }
    .infoPortfolio{
        >p{
            font-size: common.$fontSizeNormalTextMedium;
        }
    }
}
@media only screen and (max-width: 480px) {
    .item{
        width: 50%;
    }
    .infoPortfolio{
        >p{
            font-size: common.$fontSizeNormalTextSmall;
        }
    }
}
@media only screen and (max-width: 380px) {
    .itemContainer{
        height: 6rem;
    }
    #imgBackgroupPortfolio{
        border-radius: $borderRadiusPortfolioSmall;
    }
    .itemContainer{
        border-radius: $borderRadiusPortfolioSmall;
    }
    .infoPortfolio{
        border-radius: $borderRadiusPortfolioSmall;
    }
}