@use '../common.scss';
$borderRadiusPortfolio: 20px;
$borderRadiusPortfolioSmall: 8px;
.portfolioContainer{
    // width: 100%;
    @include common.paddingSectionLg;
    >p{ 
      font-size: common.$fontSizeTitleChildLarge;
      color: common.$textColor;
    }
}
.portfolioContent{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.portfolioContentContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#imgBackgroupPortfolio{
    width: 100%;
    border-radius: $borderRadiusPortfolio;
    height: 100%;
    object-fit: scale-down;
}
.itemContainer{
    width: 94%;
    border-radius: $borderRadiusPortfolio;
    position: relative;
    height: 16rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.item{
    width: 33.1%;
    margin-bottom: 20px;
}
.backgroundPortfolio{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
}
.infoPortfolio{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: common.$textColor;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    border-radius: $borderRadiusPortfolio;
    display: flex;
    justify-content: center;
    align-items: center;
   
    background: linear-gradient(to right, black 50%, common.$textColor 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    >p{
        color: common.$main-color;
        font-size: common.$fontSizeNormalTextLarge;
    }
}
.infoPortfolio:hover{
    background-position: left bottom;
}
.infoPortfolio:hover{
    >p{
        color: common.$textColor !important;
    }
}
@media only screen and (max-width: 1300px) {
    .itemContainer{
        height: 13rem;
    }
}
@media only screen and (max-width: 991px) {
    .itemContainer{
        height: 11rem;
    }
}
@media only screen and (max-width: 768px) {
    .itemContainer{
        height: 8rem;
    }
    .infoPortfolio{
        >p{
            font-size: common.$fontSizeNormalTextMedium;
        }
    }
}
@media only screen and (max-width: 480px) {
    .item{
        width: 50%;
    }
    .infoPortfolio{
        >p{
            font-size: common.$fontSizeNormalTextSmall;
        }
    }
}
@media only screen and (max-width: 380px) {
    .itemContainer{
        height: 6rem;
    }
    #imgBackgroupPortfolio{
        border-radius: $borderRadiusPortfolioSmall;
    }
    .itemContainer{
        border-radius: $borderRadiusPortfolioSmall;
    }
    .infoPortfolio{
        border-radius: $borderRadiusPortfolioSmall;
    }
}