@use '../common.scss';
$fontWeightText:600;
.WelcomeIntro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.WelcomeIntroContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.nameAuthor{
    color: common.$main-color1;
    font-weight: $fontWeightText;
    font-size: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.job, .detailYourself{
    color: common.$textColor;
}
.detailYourself{
    font-size: common.$fontSizeNormalTextLarge;
}
.job{
    font-size:50px;
    font-weight: $fontWeightText;
    margin-top: 4px;
    margin-bottom: 4px;
}
@media only screen and (max-width: 768px) {
    .nameAuthor{
        font-size: 25px;
    }
    .job{
        font-size:30px;
    }
    .detailYourself{
        font-size: common.$fontSizeNormalTextMedium;
    }
}

@media only screen and (max-width: 480px) {
    .nameAuthor{
        font-size: 20px;
    }
    .job{
        font-size:25px;
    }
    .detailYourself{
        font-size: common.$fontSizeNormalTextSmall;
    }
}