@use '../common.scss';

.skillsContainer {
    @include common.paddingSectionLg;
    margin-left: auto;
    margin-right: auto;

    >p {
        font-size: common.$fontSizeTitleChildLarge;
        color: common.$textColor;
    }
}

.circleImg {
    background-color: common.$textColor;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid common.$main-color1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    >img {
        width: 70%;
        height: 70%;
        object-fit: scale-down;
    }
}

.listSkill {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.divSkillName {
    >p {
        text-align: center;
        color: common.$textColor;
    }
}

.pointMarker {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoSkillImg {
    width: 40px;
    height: 40px;
}

.pin2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    width: 63px;
    height: 63px;
}

.pin2::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 0px;
    bottom: -37px;
    left: 8px;
    border: 23px solid transparent;
    border-top: 25px solid #fff;
}

.titleSkill {
    color: common.$textColor;
}

.skill_item {
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (min-width: 1208px) {
    .skillItem {
        width: 12%;
    }
}

@media only screen and (max-width: 1207px) {
    .skillName {
        font-size: common.$fontSizeNormalTextMedium;
    }

    .skillItem {
        width: 15%;
    }
}

@media only screen and (max-width: 991px) {
    .skillsContainer{
        @include common.paddingSectionsm;
    }
}

@media only screen and (max-width: 768px) {
    .skillName {
        font-size: common.$fontSizeNormalTextMedium;
    }

    .circleImg {
        width: 65px;
        height: 65px;
    }

    .skillItem {
        width: 20%;
    }

    .skillsContainer {
        width: 100%;
    }
}

@media only screen and (max-width: 468px) {
    .circleImg {
        width: 50px;
        height: 50px;
    }

    .skillName {
        font-size: common.$fontSizeNormalTextSmall;
    }
}


@media only screen and (max-width: 360px) {
    .circleImg {
        width: 40px;
        height: 40px;
    }

    .skillItem {
        width: 25%;
    }
}