@use '../common.scss';
.skillsContainer{
    width: 100%;
}
.skillsContainer{
    >p{ 
      font-size: common.$fontSizeTitleChildLarge;
      color: common.$textColor;
    }
}

.circleImg{
    background-color: common.$textColor;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid common.$main-color1;;
}
.listSkill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skillItem{
    width: 10%;
}
.divSkillName{
    display: flex;
    justify-content: center;
    width: 100px;
    margin-top: 0.5%;
}
.skillName{
    text-align: center;
    color: common.$textColor;
}