@use 'common';
html{
    background-color: common.$main-color;
}
.App{
    background-color: common.$main-color;
    min-height: 100vh;
    padding-bottom: 2%;
}
body{
    margin: 0;
    width: 100%;
}
.introPage{
    height: 100vh;
}
.intro{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.appContainer{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
.introContainer{
    display: flex;
    height: 100%;
}
.avatar{
    width: 40%;
    display: flex;
    margin-top: 5%;
}
.welcomeIntro{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar{
   
}
.about,.skills,.experience, .contact{
    margin-top: 5%;
}
@media only screen and (max-width: 480px) {
    .introContainer{
        display: block;
    }
    .avatar{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .welcomeIntro{
        width: 100%;
    }
}