@use 'common';
html{
    background-color: common.$main-color;
}
.App{
    background-color: common.$main-color;
    min-height: 100vh;
    // padding-bottom: 2%;
}
body{
    margin: 0;
    width: 100%;
}
.introPage{
    height: 100vh;
}
.intro{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.appContainer{
    // width: 95%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
.introContainer{
    display: flex;
    height: 100%;
}
.avatar{
    width: 40%;
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.welcomeIntro{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
// .about,.experience, .contact{
//     margin-top: 5%;
// }

// @media only screen and (max-width: 768px) {
//     .introContainer{
//         height: 90%;
//         display: block;
//     }
// }
@media only screen and (max-width: 768px) {
    .intro{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .introContainer{
        height: 90%;
        display: block;
    }
    .avatar{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .welcomeIntro{
        width: 100%;
        margin-top: 3rem;
    }
}
