$main-color: #1F2235;
$main-color1: #FE4B58;
$textColor: white;

$fontSizeTitleChildLarge: 20px;

$fontSizeNormalTextLarge: 17px;
$fontSizeNormalTextMedium: 15px;
$fontSizeNormalTextSmall: 13px;

$fontSizeTitleSectionLarge: 25px;
$fontSizeTitleSectionMedium: 20px;
$fontSizeTitleSectionMedium: 16px;
$colorSection: #1b1e2f;

@mixin paddingSectionLg {
    padding: 4rem;
}

* {
    font-family: 'Open Sans', sans-serif;
}