$main-color: #1F2235;
$main-color1: #FE4B58;
$textColor: white;
$fontSizeTitleChildLarge: 20px;
$fontSizeNormalTextLarge: 17px;
$fontSizeMediumTextLarge: 15px;
$fontSizeTitleSectionLarge: 25px;
*{
    font-family: 'Open Sans', sans-serif;
}